body {
  font-family: -apple-system, "Segoe UI", "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: bold;
  text-align: center;
  color: #fd73cd;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

.all {
  margin: auto;
  max-width: 300px;
  border-radius: 20px;
  border: 5px solid #fd73cd;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fd73cd;
  font-weight: bold;
  min-width: 100px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.operations {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#increment-btn {
  background: #ffdd52;
}

#save-btn {
  background: #b6c750;
}
